a {
	text-decoration: none;
	color: #32cd32;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

#logo {
	text-align: center;
	margin 0;
}

header {
	background: #32cd32;
	border-color: #00b200;
}

h1, h2 {
	color: #000;
}

nav {
	background-color: #00b200;
}

nav a, nav a:visited {
	color: #fff;
}

nav a.currentPage, nav a:hover {
	color: #32673f;
}