/*****************************
CSS Stylesheet for Portfolio
by Rev Dave Wakely
*****************************/

/* Wrapper section */
#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

/* Hyperlinks across the page */
a {
	text-decoration: none;
	color: #32cd32;
}

body {
	font-family: 'Oswald', sans-serif;
}

img {
	max-width: 100%;
}

/*****************************
           HEADING
*****************************/
header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
}

#logo {
	text-align: center;
	margin 0;
}

h1 {
	font-family: 'Lobster', cursive;
	margin: 15px 0;
	padding: 5px;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-family: 'Indie Flower', cursive;
	font-size: 1.5em;
	margin: -5px 0 0;
	font-weight: normal;
}

/*****************************
        NAVIGATION
*****************************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

/*****************************
           FOOTER
*****************************/

footer {
	font-size: 0.75em;
	text-align: center;
	padding-top: 50px;
	color: #ccc;
	clear: both;
}

/*****************************
      PAGE: PORTFOLIO
*****************************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float : left;
	width : 455;
	margin : 2.5%;
	background-color: #f5f5f5;
	color: #bdc3c7;
} 

#gallery li a p {
	margin: 0;
	padding 5%;
	color: #bdc3c7;
}

/*****************************
           COLOURS
*****************************/

/* Site Body */
body {
	background-color: #000;
	color: #32cd32;
}

/* Lime Green Header Background*/
header {
	background: #32cd32;
	border-color: #00b200;
}

/* Nav Background on Mobile */
nav {
	background-color: #00b200;
}

/* Logo Text */
h1, h2 {
	color: #000;
}

/* Visited Nav Link */
nav a, nav a:visited {
	color: #fff;
}

/* Current Page's Link */
nav a.currentPage, nav a:hover {
	color: #32673f;
}